<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta property="og:description" content="Discover how we help individuals, families and institutions monetize, manage and distribute the funds they have to achieve their goals."/>
    <meta name="keywords" content="Portfolioactivate, benefit, Globa business pay, Advanced IWPS, activation, monetization, goals, achieve, trading, funds"/>
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <title>Portfolioactivate || activate and monetize funds </title>
  </head>
  <body>
    <div><%- body %></div>

  </body>
</html>
